{{# partial "titulo" }}
    <title>PATITAS AL RESCATE - Login</title>
{{/partial}}

{{# partial "contenido" }}
    <section class="fondo-gris" style="padding-left:50px;">

        <div class="datos-formulario">

            <h2>Registrar mascota</h2>
            {{#if errorMascota}}
                <p class="texto-error">* Los datos de la mascota fueron cargados incorrectamente</p>
            {{/if}}
            {{#if errorCaracteristica}}
                <p class="texto-error">* Alguna de las caracteristicas fue cargada incorrectamente</p>
            {{/if}}

            <form class="formulario" action="/mascotas/nueva" method="POST">

                <div class="datos-a-cargar-formulario">

                    <div class="mitad-formulario">

                        <div><span class="nombre-campo">Nombre:</span></div>
                        <div><input class="input-datos" type="text" name="nombre" placeholder="Ingrese nombre"></div>

                        <div><span class="nombre-campo">Apodo:</span></div>
                        <div><input class="input-datos" type="text" name="apodo" placeholder="Ingrese apodo"></div>

                        <div><span class="nombre-campo">Edad:</span></div>
                        <div><input class="input-datos" type="number" min="0" name="edad" placeholder="Ingrese edad"></div>

                        <div><span class="nombre-campo">Descripcion:</span></div>
                        <div><input class="input-datos" type="text" name="descripcion" placeholder="Ingrese descripcion"></div>

                        <div><span class="nombre-campo">Sexo:</span></div>
                        <div>
                            <div class="radioAcostado">
                                <input class="inputCaracteristicas" type="radio" class="radio" name="sexo" value="false" checked>
                                <label for="false">Hembra</label>
                            </div>

                            <div class="radioAcostado">
                                <input class="inputCaracteristicas" type="radio" class="radio" name="sexo" value="true">
                                <label for="true">Macho</label>
                            </div>
                        </div>

                        <div><span class="nombre-campo">Especie:</span></div>
                        <div>
                            <div class="radioAcostado">
                                <input class="inputCaracteristicas" type="radio" name="especie" value="GATO" checked>
                                <label for="GATO">Gato</label>
                            </div>

                            <div class="radioAcostado">
                                <input class="inputCaracteristicas" type="radio" name="especie" value="PERRO">
                                <label for="PERRO">Perro</label>
                            </div>
                        </div>

                        <div><span class="nombre-campo">Foto:</span></div>
                        <div><input class="input-datos" type="text" name="foto" placeholder="Ingrese la URL de la foto"></div>

                    </div>

                    <div class="mitad-formulario">
                        <div class="campo">
                            <span class="nombre-campo"> <b>Caracteristicas de la mascota: </b> </span>
                            {{#caracteristicas}}
                                <div>
                                    {{#if esObligatorio}}
                                        <div><span class="nombre-campo">{{nombreCaracteristica}}*:</span></div>
                                    {{else}}
                                        <div><span class="nombre-campo">{{nombreCaracteristica}}:</span></div>
                                    {{/if}}
                                    {{#if validadorCaracteristica/inputBoolean}}
                                        <div class="radioAcostado">
                                            <input type="radio" class="inputCaracteristicas" name="{{nombreCaracteristica}}" value="true" checked>
                                            <label for="true">Si</label>
                                        </div>
                                        <div class="radioAcostado">
                                            <input type="radio" class="inputCaracteristicas" name="{{nombreCaracteristica}}" value="false">
                                            <label for="false">No</label>
                                        </div>
                                        <div class="clearfix"></div>

                                    {{/if}}

                                    {{#if validadorCaracteristica/inputEntreMaxMin}}
                                        <input type="number"  class="inputCaracteristicas" name="{{nombreCaracteristica}}" min="{{validadorCaracteristica/minimo}}"
                                               max="{{validadorCaracteristica/maximo}}"
                                               placeholder="El valor debe estar entre {{validadorCaracteristica/minimo}} y {{validadorCaracteristica/maximo}}">
                                    {{/if}}

                                    {{#if validadorCaracteristica/inputEntrePosibilidades}}
                                        {{#each validadorCaracteristica/posibilidades}}
                                            <div>
                                                <input type="radio" class="inputCaracteristicas" name="{{nombreCaracteristica}}" value="true">
                                                <label for="true">{{this}}</label>
                                            </div>

                                        {{/each}}
                                    {{/if}}

                                    {{#if validadorCaracteristica/inputCantidadCaracteres}}
                                        <input type="number" class="inputCaracteristicas" name="{{nombreCaracteristica}}" placeholder="Ingrese cantidad">
                                    {{/if}}
                                </div>
                            {{/caracteristicas}}
                        </div>

                    </div>

                </div>

                <div class="clearfix"></div>

                <div class="datos-a-cargar-formulario">
                    <input class="BotonesSesion" type="submit" value="Registrar mascota">
                </div>
            </form>
        </div>
    </section>
{{/partial}}

{{> layout.html.hbs }}